#pitch {
    background-color: var(--v-color-quaternary200);
    display: grid;
    grid-template-columns: repeat(var(--pitch-dimensions-x), 30px);
    grid-template-rows: repeat(var(--pitch-dimensions-y), 30px);
    flex: 0 0 auto;

    .cell {
        border: 1px solid black;
        font-size: 20px;

        &.wall {
            background-color: var(--v-color-tertiary900);
        }

        &.snake-head {
            background-color: var(--v-color-primary900);
        }

        &.snake-body {
            background-color: var(--v-color-secondary900);
        }

        &.prize-apple {
            &::after {
                content: '\1F34E';
            }
            background-color: #555555;
        }

        &.prize-banana {
            &::after {
                content: '\1F34C'
            }
            background-color: #555555;
        }

        &.prize-bomb {
            &::after {
                content: '\1F4A3';
            }
        }
    }
}

.gameplay-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#score {
    h2 {
        margin-block-start: 0;
        margin-block-end: .5rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 1.5rem;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

#countdown {
    font-size: 7rem;
    text-align: center;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-weight: bold;
    color: var(--v-color-primary900);
}

#messages {
    p {
        margin: 0;
        text-align: center;
        color: var(--v-color-secondary900);
        font-weight: bold;

        &.game-over {
            color: red;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .button-group {
        margin-top: auto;
    }
}