#pitch {
    background-color: var(--v-color-quaternary200);
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(30, 20px);

    .cell {
        border: 1px solid black;

        /*&:nth-child(1) {
            background-color: var(--v-color-tertiary900);
        }*/

        /* top edge */
        &:nth-child(-n + 30) {
            background-color: var(--v-color-tertiary900);
        }

        /* Bottom edge (last 30 cells) */
        &:nth-child(n + 871) {
            background-color: var(--v-color-tertiary900);
        }

        /* Left edge (every 30th cell starting from 1) */
        &:nth-child(30n + 1) {
            background-color: var(--v-color-tertiary900);
        }

        /* Right edge (every 30th cell starting from 30) */
        &:nth-child(30n + 30) {
            background-color: var(--v-color-tertiary900);
        }

        &.snake-head {
            background-color: var(--v-color-primary900);
        }

        &.snake-body {
            background-color: var(--v-color-secondary900);
        }
    }
}